@use '../styles/color' as *;
@use '../styles/constants.scss' as *;

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $ui-secondary;
}
.main-contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.switch-tabs {
    width: 2rem;
    height: 2rem;
    flex: 0.5;
    display: flex;
    overflow: auto hidden;
    // 让滚动条出现在上面
    transform: rotateX(180deg);
    > * {
        transform: rotateX(180deg);
    }
    & svg {
        color: $text-primary;
        width: 1rem;
        height: auto;
    }
    & button {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        transition: box-shadow $time-active ease;
        border-radius: 0;
        &:hover {
            border: none;
            filter: none;
        }
        &:active{
            box-shadow: inset 0 -1px 0px $looks-secondary;
        }
    }
    
}
.switch-tab {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    &.enabled {
        box-shadow: inset 0 -2px 0px $looks-secondary;
    }
}
.targets {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    list-style-type: none;
    padding: 0 0.5rem;
}
.target {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    &.selected {
        background-color: $ui-black-transparent;
    }
    & svg {
        color: $text-primary;
        width: 20px;
        height: auto;
    }
}

.tool-bar {
    height: 2rem;
    width: 100%;
    display: flex;
}

.tool-bar-left,
.tool-bar-right {
    flex: 1;
    display: flex;
    align-items: center;
}
.tool-bar-right {
    flex-direction: row-reverse;
}
.tabs {
    display: flex;
    flex-direction: column;
}
.editor {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.blockly-workspace {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.workspace {
    display: flex;
    flex: 1;
    min-height: 0;
}