@use './styles/color' as *;

// 全局滚动条样式
* {
    scrollbar-width: thin;
    scrollbar-color: $ui-tertiary transparent;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $ui-tertiary;
        border-radius: 4px;

        &:hover {
            background-color: $text-primary;
        }
    }
}

// 关于控件的默认CSS

@mixin control-base {
    border: 0;
    background-color: $ui-tertiary;
    color: $text-primary;
    border-radius: 5px;
    margin: 5px;

    &:hover {
        filter: brightness(var(--hover-bright));
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 0;
    color: $text-primary;
    user-select: none;
}

button {
    @include control-base;
    padding: var(--button-padding);
    border: transparent 1px solid;
}
button:hover {
    border: $ui-black-transparent 1px solid;
}
button:active {
    filter: $active-button;
}

select {
    @include control-base;
    padding: var(--select-padding);
}

code {
    font-family:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
        monospace;
    background-color: $ui-secondary;
    padding: 5px;
    border-radius: 5px;
}

// blocklyHtmlInput 是 blockly 输入框的选中时名
input:not([class*="blocklyHtmlInput"]) {
    background-color: $ui-tertiary;
    outline: none;
    color: $text-primary;
    border: 1px $ui-secondary solid;
    border-radius: 3px;
}

span {
    font-size: small;
}

// 关于Blockly高亮

[id*='blocklySelectedGlowFilter'] feFlood {
    flood-color: var(--ui-blockly-border);
    flood-opacity: 0.5;
}

// 在 v13.1.0 后使用它会导致积木插槽出现奇妙的高亮
// .blocklyHighlightedConnectionPath {
//     stroke: var(--ui-blockly-border) !important;
// }

.injectionDiv {
    --blockly-active-node-color: var(--ui-blockly-border);
    --blockly-active-tree-color: var(--ui-blockly-border);
    --blockly-selection-width: 1px;
}
