@use '../../gui/styles/color.scss' as *;
@use '../../gui/styles/constants.scss' as *;

.content {
    min-width: 400px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.add-field-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex: 1;
    padding: 5px 10px;
}

.big-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: $ui-tertiary;
    border-radius: 5px;
    padding: 16px;
    margin: 10px 0;
    svg {
        width: 80px;
        height: auto;
    }
    &:hover {
        background-color: $ui-black-transparent;
    }
    &:active {
        filter: brightness(0.5);
    }
}

.field-type-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex: 1;
}

.field-type-multi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    cursor: pointer;
    height: 35px;
    & div {
        display: flex;
        align-content: center;
        gap: 10px;
    }
}

.field-type-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.selector-selected {
    background-color: $ui-black-transparent;
    outline: 2px solid $active-button;
}

.field-type-confirm {
    align-self: flex-end;
    padding: 5px 16px;
    border-radius: 5px;
    &:disabled {
        opacity: 0.4;
    }
}

.createPreview {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    flex: 1;
}

.workspace {
    position: relative;
    flex: 1;
    width: 100%;
}

.state {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    & input {
        margin-top: 15px;
    }
}

.buttons {
    display: flex;
    & button {
        flex: 1;
    }
}

.selector {
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: left;
    padding: 5px;
    border-radius: 5px;
    gap: 8px;
    svg {
        width: 40px;
        height: auto;
    }
    &:hover {
        background-color: $ui-black-transparent;
    }
    &:active {
        filter: brightness(0.5);
    }
    & span {
        width: 100%;
    }
}

.set-block-color {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
    gap: 5px;
    & .set-block-color-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        &:hover {
            outline: $text-primary 1px solid;
        }
        svg {
            width: 15px;
            height: 15px;
        }
    }
    & .set-block-color-button-picker {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid $text-primary;
        padding: 0;
        cursor: pointer;
        &:hover {
            outline: $text-primary 1px solid;
        }
        &::after {
            content: '';
            background: url('../../assets/colorPicker.svg');
            background-repeat: round;
            width: 15px;
            height: 15px;
            filter: $svg-filter;
        }
    }
}
