@use './styles.scss' as *;

body {
    margin: 0 !important;
}

input {
    border: transparent 1px solid;
    border-radius: 2px;
    background-color: $ui-quaternary;
    transition: border 0.1s ease;
    outline: none;
    &:focus {
        border: $accent-primary 1px solid;
    }
}

* {
    box-sizing: border-box;
    color: $ui-text;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $ui-tertiary;
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $ui-quaternary;
    }

    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner {
        display: none;
        background: transparent;
    }
}
