$ui-primary: var(--ui-primary);
$ui-secondary: var(--ui-secondary);
$ui-tertiary: var(--ui-tertiary);
$ui-quaternary: var(--ui-quaternary);
$ui-primary-icon: var(--ui-primary-icon);
$ui-secondary-icon: var(--ui-secondary-icon);
$ui-tertiary-icon: var(--ui-tertiary-icon);
$ui-quaternary-icon: var(--ui-quaternary-icon);
$ui-transparent-dark: var(--ui-transparent-dark);
$ui-transparent-light: var(--ui-transparent-light);
$ui-text: var(--ui-text);

$ani-fastIn: cubic-bezier(0, 0.8, 0, 0.8);
$ani-fastOut: cubic-bezier(0.8, 0, 0.8, 0);
