.blocklyFlyoutButton {
    display: flex;
    stroke: transparent;
    align-items: center;
    justify-content: center;

    & .blocklyText {
        font:
            normal 13pt 'Segoe UI',
            Tahoma,
            Geneva,
            Verdana,
            sans-serif !important;
    }
    & .blocklyFlyoutButtonBackground {
        display: none;
    }
    & .blocklyFlyoutButtonShadow {
        border: 0;
        border-radius: 5px;
        margin: 5px;
    }
    &:hover {
        & .blocklyFlyoutButtonShadow {
            stroke-width: 1px;
        }
    }
}

.blocklyToolboxCategory {
    display: flex;
    align-items: center;
}

.blocklyToolboxCategory .blocklyTreeRowContentContainer {
    flex: 1 1 auto;
    width: auto;
    min-width: 0;
}

.blocklyToolbox > .blocklyToolboxCategoryGroup {
    scrollbar-width: thin;
}


.ash-toolbox-tools {
    display: flex;
}
.ash-toolbox-tools button {
    padding: 0;
    width: 16px;
    height: 16px;
}
.ash-toolbox-tools .ash-toolbox-tools-collapseAll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ash-toolbox-tools .ash-toolbox-tools-collapseAll::before {
    content: '';
    background-image: url('./assets/collapse.svg');
    background-repeat: round;
    width: 12px;
    height: 12px;
}


.continuousFlyoutSearchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background-image: url('../assets/close.svg');
    background-repeat: round;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

g.astratchFlyoutGroupLevel0 text {
    font-size: x-large !important;
    font-weight: bold !important;
}
g.astratchFlyoutGroupLevel1 text {
    font-size: larger !important;
}

.blocklyZoom.blocklyZoomReset {
    transform: translateY(10px);
}

