// src/lib/Theme/guiThemeManager.ts
$ui-primary: var(--ui-primary);
$ui-secondary: var(--ui-secondary);
$ui-tertiary: var(--ui-tertiary);

$ui-modal-overlay: var(--ui-modal-overlay);
$ui-modal-background: var(--ui-modal-background);
$ui-modal-foreground: var(--ui-modal-foreground);
$ui-modal-header-background: var(--ui-modal-header-background);
$ui-modal-header-foreground: var(--ui-modal-header-foreground);

$ui-white: var(--ui-white);
$ui-black-transparent: var(--ui-black-transparent);

$text-primary: var(--text-primary);

$input-background: var(--input-background);

$active-button: var(--active-button);

$time-hover: var(--time-hover);
$time-active: var(--time-active);
