@use './color' as *;

// 关于控件的默认 CSS
@mixin control-base {
    border: 0;
    background-color: $ui-tertiary;
    fill: $ui-tertiary;
    color: $text-primary;
    border-radius: 5px;
    margin: 5px;

    &:hover {
        filter: brightness(var(--hover-bright));
    }
}
